:root{
  --bg-color:#FDFDFD;
  --text:#404040;
  --heading:#0A2C4E;
  --buttons:#DAA520;
  --decorative:#DAA520;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  margin-top: 8%;
}


.thumbnail{
  max-width: 25rem;
}

.title{
  font-size: 1rem;
}


.platform-icon{
  width: 1.5rem;
}

.aside{
  width: auto;
  height: auto;
  margin-left: 0.6rem;
  overflow: auto;
}

.games-div{
  border: 2px solid black;
  width: 100%;
  margin-right: 0.6rem;
  max-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.genre-link{
  font-size: 0.9rem;
  margin: 0 1rem 0.5rem 0;
  
}
.button{
  width: 8rem;
  height: 3rem;
}

.game-list{  
  overflow-y: scroll;
  overflow-x: hidden;

}

.brand-icon{
  max-width: 3rem;
}

.navbar-brand{
  margin-left: 1rem;
}