@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root{
  --bg-color:#FDFDFD;
  --text:#404040;
  --heading:#0A2C4E;
  --buttons:#DAA520;
  --decorative:#DAA520;
  --hover: #daa520b9;
  --main-font: Bangers;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  margin-top: 10%;
  background-color: var(--heading);
  color: var(--buttons);
}

body{
  background-color: var(--heading);
  color: var(--buttons);
}

.thumbnail{
  max-width: 25rem;
}

.card{
  background-color: var(--decorative);
  border-color: var(--decorative);
}
.title{
  font-size: 1rem;
  color: var(--heading);
}


.platform-icon{
  max-width: 100rem;
}

.aside{
  width: auto;
  height: auto;
  margin-left: 0.6rem;
  overflow: auto;
}

.games-div{
  border: 0px solid black;
  width: 100%;
  margin-right: 0.1rem;
  max-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.genre-link{
  font-size: 0.9rem;
  margin: 0 1rem 0.5rem 0;
  
}
.button{
  width: 8rem;
  height: 3rem;
}

.game-list{  
  overflow-y: scroll;
  overflow-x: hidden;

}

.brand-icon{
  max-width: 3rem;
  
}

.navbar-brand{
  margin-left: 1rem;
}

.placeholders{
  min-width: 300px;
  height: 200px;
}

.filter-nav{
  width: 100%;
  height: 2rem;
}
.filter-list{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 17%;
  margin-left: auto;
  height: 2.5rem;
  text-align: center;
}

.genre-box{
  background-color: var(--decorative);
  border-color: var(--decorative);
  color: var(--heading);
  width: 20rem;
  text-align: center;
}

.genre-box:is(:hover,:focus){
  background-color: var(--hover);
  border-color: var(--decorative);
}

.selects{
  margin-left: 0rem;
  max-width: 50rem;
  width: 100%;
  display: flex;
}
.genres, .platforms{
  margin-right: 1rem;

}
.publishers{
  margin-left: 0rem;
}

.nav-title{
  font-family: var(--main-font);
  text-shadow: 2px 2px rgba(22, 32, 103, 0.387);
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5rem;
}

.navbar{
  padding: 0;
  background-color: var(--decorative)!important;
  box-shadow:0px 4px 10px  rgba(0, 0, 0, 0.371);
}

.profile-link{
  display: absolute;
  translate: 17rem;
}

@media only screen and (max-width: 990px) and (min-width: 320px)  {
  .profile-link{
    display: absolute;
    translate: 0rem;
  }
  .profile-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  #root{
    margin-top: 15%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #08000069; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b4b7d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--buttons); 
}

.searchBar{
  height: 2.5rem;
  background: var(--buttons);
  color: var(--text);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  margin-bottom: 3%;
  font-size: 1rem;
}

