@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --bg-color: #fdfdfd;
  --text: #404040;
  --heading: #0a2c4e;
  --buttons: #daa520;
  --decorative: #daa520;
  --hover: #daa520b9;
  --main-font: Bangers;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  margin-top: 10%;

  color: var(--buttons);
  background-image: linear-gradient(to left bottom, #1c0067, #001566, #002060, #002758, #0a2c4e);
  background-repeat: no-repeat;
  background-size: cover;
}


html{
  background-image: linear-gradient(to left bottom, #1c0067, #001566, #002060, #002758, #0a2c4e);
  background-attachment: fixed;  
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    

  background-image: linear-gradient(
    to left bottom,
    #1c0067,
    #001566,
    #002060,
    #002758,
    #0a2c4e
  );
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: var(--buttons);

  width: 100%;
  height: 100%;
}

.thumbnail {
  max-width: 25rem;
}

.card {
  background-color: var(--decorative);
  border: none;
  border-color: var(--decorative);
}
.title,
.fav-title {
  font-size: 1rem;
  color: var(--heading);
}
.title:hover,
.fav-title:hover {
  font-size: 1rem;
  color: var(--heading);
  cursor: pointer;
}

.platform-icon {
  max-width: 100rem;
}


.games-div {
  border: 0px solid black;
  width: 100%;
  margin-right: 0.1rem;
  max-height: 1000px;

}

.genre-link {
  font-size: 0.9rem;
  margin: 0 1rem 0.5rem 0;
}
.button {
  width: 8rem;
  height: 3rem;
}



.brand-icon {
  max-width: 3rem;
}

.navbar-brand {
  margin-left: 1rem;
}

.placeholders {
  min-width: 300px;
  height: 200px;
}

.filter-nav {
  width: 100%;
  height: 2rem;
}
.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 17%;
  margin-left: auto;
  height: 2.5rem;
  text-align: center;
}

.genre-box {
  background-color: var(--decorative);
  border-color: var(--decorative);
  color: var(--heading);
  width: 20rem;
  text-align: center;
}

.genre-box:is(:hover, :focus) {
  background-color: var(--hover);
  border-color: var(--decorative);
}

.selects {
  margin-left: 0rem;
  max-width: 50rem;
  width: 100%;
  display: flex;
}
.genres,
.platforms {
  margin-right: 1rem;
}
.publishers {
  margin-left: 0rem;
}

.nav-title {
  font-family: var(--main-font);
  text-shadow: 2px 2px rgba(22, 32, 103, 0.387);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5rem;
}

.navbar {
  padding: 0;
  background-color: var(--decorative) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.371);
}

.profile-link {
  display: absolute;
  translate: 17rem;
}
/* l screen */
@media (min-width: 1441px) {
  .profile-link {
    display: absolute;
    translate: 21rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 3rem;
  }
  #root {
    margin-top: 7%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 30rem;
    text-align: center;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 20rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 44% !important;
    right: 35.5% !important;
    transform: translateY(-90%) !important;
  }
  .sign-up-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #0d457d43;
    width: 25rem !important;
    height: 32rem !important;
    border-radius: 1rem;
    border: 1px solid;
    border-color: var(--decorative);
    margin-top: 5%;
  }
  .form-input {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    margin-right: auto;
  }

  .form-input input {
    width: 80% !important;
    height: 2.5rem !important;
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: var(--decorative);
  }
  .signup-label {
    margin: 0.4rem 4.5rem 0 0 !important;
    font-size: 1.5rem;
  }
  .error-message {
    margin: -16px 0 5px 0 !important;
  }
  .login-label {
    margin: 0rem 3.5rem 2% 0;
    font-size: 1.3rem;
  }
  .game-page {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    outline: 10px solid var(--buttons);
    border-radius: 10px;
    max-width: 100%;
    width: auto;
    height: 60rem !important;
    max-height: 90%;
    margin: 1.5rem;
    padding: 4rem;
  }
}
/* m screen */
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .profile-link {
    display: absolute;
    translate: 9rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 3rem;
  }
  #root {
    margin-top: 10%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 22.5rem;
    text-align: center;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 15.3rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 44% !important;
    right: 35.5% !important;
    transform: translateY(-90%) !important;
  }
  .error-message {
    margin: -15px 0 5px 0 !important;
  }

  .sign-up-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #0d457d43;
    width: 20rem;
    height: 26rem !important;
    border-radius: 1rem;
    border: 1px solid;
    border-color: var(--decorative);
    margin-top: 5%;
  }
}
/* s screen */
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .profile-link {
    display: absolute;
    translate: 0.1rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 5rem;
  }
  #root {
    margin-top: 15%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 13rem;
    text-align: center;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 9rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 44% !important;
    right: 35.5% !important;
    transform: translateY(-90%) !important;
  }
    .game-page {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    outline: 10px solid var(--buttons);
    border-radius: 10px;
    max-width: 100%;
    width: auto;
    height: 60rem !important;
    max-height: 90%;
    margin: 1.5rem;
    padding: 4rem;
  }
  
}
/* tablet portrait */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .profile-link {
    display: absolute;
    translate: 0.1rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 5rem;
  }
  #root {
    margin-top: 15%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 14.7rem;
    text-align: center;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 11rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 44% !important;
    right: 35.5% !important;
    transform: translateY(-90%) !important;
  }
  .sign-up-form {
    margin-top: 2% !important;
  }
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .profile-link {
    display: absolute;
    translate: 0.1rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 5rem;
  }
  #root {
    margin-top: 15%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 13rem;
    text-align: center;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 9rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 44% !important;
    right: 35.5% !important;
    transform: translateY(-90%) !important;
  }
  .sign-up-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #0d457d43;
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    border: 1px solid;
    border-color: var(--decorative);
    margin-top: 10% !important;
  }
}
/* mobile */
@media only screen and (max-width: 480px) {
  .profile-link {
    display: absolute;
    translate: 0.1rem;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin: 0 0 0 5rem;
  }
  #root {
    margin-top: 30%;
  }
  .genre-box {
    background-color: var(--decorative);
    border-color: var(--decorative);
    color: var(--heading);
    width: 7.6rem;
    text-align: center;
  }
  .genres,
  .platforms {
    margin-right: 0.5rem;
  }
  .publishers {
    margin-left: 0rem;
  }
  .selects {
    display: flex;
    justify-content: center;
    margin: 0 0 0 4.3rem;
  }
  .search-bar {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 46% !important;
    right: 21.5% !important;
    transform: translateY(-70%) !important;
  }
  .sign-up-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #0d457d43;
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    border: 1px solid;
    border-color: var(--decorative);
    margin-top: 10% !important;
  }
  .game-page {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
  }
  
  .game-info-ih {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    outline: 10px solid var(--buttons);
    border-radius: 10px;
    max-width: 100%;
    width: auto;
    height: 65rem !important;
    max-height: 90%;
    margin: 1.5rem;
    padding: 4rem;
  }
  .ih-game-title {
    font-family: var(--main-font);
    font-size: 2rem !important;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    top: 23%;
    left: 26%;
  }
  .game-description {
  margin: 2rem 0rem 0.4rem 0rem !important;
  font-size: 01rem !important;
  width: 100%;
}
.game-link{
  font-size: 1rem !important;
  text-decoration: underline;
  color: var(--buttons);
  font-style: italic;
}
.game-link:hover{
  font-size: 1rem !important;
  text-decoration: underline;
  color: #fff;
  font-style: italic;
  cursor: pointer;
}
.game-image-ih {
  position: relative;
  left: -25%;
  width: 18rem !important;
  align-self: center;
  border-radius: 10px;

}
.game-image {
  position: relative;
  left: -25%;
  width: 18rem !important;
  align-self: center;
  border-radius: 10px;

}
.game-title {
  font-family: var(--main-font);
  font-size: 2rem !important;
  letter-spacing: 3px;
}
.profile {
  display: flex;
  flex-direction: column ;
  align-content: center ;
  justify-content: center ;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #0a2c4e;
  outline: 2px solid #daa520;
  border-radius: 10px;
  margin: 1rem 1rem 3rem 1rem !important;
  padding-bottom: 3rem;
}
.picture-container {
  width: 300px;
  height: 270px;
  position: relative;
  overflow: hidden;
  left: 08%;
}
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #08000069;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b4b7d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--buttons);
}

.searchBar {
  height: 2.5rem;
  background: var(--buttons);
  color: var(--text);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  margin-bottom: 3%;
  font-size: 1rem;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 46%;
  right: 42.5%;
  transform: translateY(-130%);
}

.signup-page {
  display: flex;
  justify-content: center;
  align-content: center;
}
.sign-up-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #0d457d43;
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  border: 3px solid var(--buttons);
  margin-top: 5%;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  margin-right: auto;
}

.form-input input {
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: var(--decorative);
  margin-bottom: 1.5rem;
}

.signup-label {
  margin: 0rem 4rem 0 0;
}

/* .signup-btn{
  border: 1px solid;
  background-color: var(--buttons);
  border-radius: 10%;
} */

.signup-btn {
  box-shadow: inset 4px -2px 19px -20px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #daa520 100%);
  background-color: #2e466e;
  border-radius: 7px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.signup-btn:hover {
  background: linear-gradient(to bottom, #daa520 5%, #2e466e 100%);
  background-color: #415989;
  cursor: pointer;
}
.signup-btn:active {
  position: relative;
  top: 1px;
}

.login-route {
  margin: 3% 0 0 0;
}

.login-route1 {
  margin: 0 0 0 2%;
  text-decoration: none;
  font-style: bold;
}

.login-route1:hover {
  margin: 0 0 0 2%;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--decorative);
}

.error-message {
  margin: -13px 0 5px 0;
  font-weight: bold;
}

.login-page {
  display: flex;
  justify-content: center;
  align-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #0d457d43;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  border: 3px solid var(--buttons);
  border-color: var(--decorative);
  margin-top: 5%;
}

.login-title {
  font-family: var(--main-font);
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.signup-title {
  font-family: var(--main-font);
  letter-spacing: 3px;
}
.signup-label {
  margin: 0rem 4rem 2% 0;
}

/* .form-input{
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  margin-right: auto;
} */

/* .form-input input{
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: var(--decorative);
  margin-bottom: 1.5rem;

} */

.login-create {
  margin: 5% 0 0 0;
  text-decoration: none;
  font-style: bold;
}

.login-label {
  margin: 0rem 3.5rem 2% 0;
}

.profile {
  display: flex;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #0a2c4e;
  outline: 2px solid #daa520;
  border-radius: 10px;
  margin: 1rem 0 0rem 1.5rem;
  padding-bottom: 3rem;
}

.picture-container {
  width: 300px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 3%, 85% 25%, 85% 72%, 50% 95%, 13% 72%, 13% 25%);
}

.user-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.edit-profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: var(--buttons);
  margin: 0 1rem 0 2.7rem;
  width: 100px;
}

.edit-profile-btn:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 1px solid #daa520;
  background-color: #0a3f74;
  margin-right: 1rem;
  justify-content: center;
  width: 100px;
}

.logout-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
  background-color: var(--buttons);
  margin: 0 2.8rem 0 0rem;
  width: 100px;
  justify-content: center;
}
.logout-btn:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 1px solid #daa520;
  background-color: #0a3f74;
  width: 100px;
  justify-content: center;
}

.remove-button {
  background-color: var(--heading);
  color: var(--buttons);
  border: none;
  width: 100%;
  height: 100%;
}
.remove-button:hover {
  background-color: rgba(221, 45, 45, 0.466);
  color: var(--heading);
  border: none;
  width: 100%;
  height: 100%;
}

.card {
  border: none;
  outline: 1px solid #daa520;
}
.editProfileBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.editProfileForm {
  border: 3px solid #daa520;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  margin: 0rem 2rem;
}

.edit-profile-title {
  font-family: var(--main-font);
  letter-spacing: 2px;
}

.form-control:focus {
  border: 1px solid #daa520;
  outline: 3px solid #daa520;
}

.editProfileSubmitBtn {
  margin: 1rem;
}

.editProfileSubmitBtn:hover {
  margin: 1rem;
  background-color: #daa520aa;
}

.edit {
  display: flex;
  justify-content: left;
  padding: 1rem 0 0 0;
  text-align: left;
  font-weight: bold;
}

.login,
.signup {
  text-align: left;
  font-weight: bold;
}

.loading-btn {
  margin: 1rem;
}

/*Game details*/
.game-page {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  outline: 3px solid var(--buttons);
  border-radius: 10px;
  max-width: 100%;
  width: auto;
  height: 50rem;
  max-height: 90%;
  margin: 1.5rem;
  padding: 4rem;
}

.game-container {
  max-width: fit-content;
}

.game-title {
  font-family: var(--main-font);
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.game-image {
  width: 70%;
  align-self: center;
  border-radius: 10px;
}

.game-description {
  margin: 2rem 0.5rem 0.4rem 0.5rem;
  font-size: 1.5rem;
}

.back-btn,
.edit-btn {
  margin: 1rem;
}
.back-btn:hover,
.edit-btn:hover {
  margin: 1rem;
  background-color: var(--heading);
  outline: 1px solid var(--buttons);
  color: var(--buttons);
}

.ih-game-title {
  font-family: var(--main-font);
  font-size: 3.5rem;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: 0;
}

.fav-btn:hover {
  background-color: #013569e1;
  color: #ff0000;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fav-btn {
  background-color: var(--heading);
  color: #ff0000;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.no-fav-btn {
  background-color: var(--heading);
  color: var(--buttons);
  border: none;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.no-fav-btn:hover {
  background-color: #013569e1;
  color: var(--buttons);
  border: none;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.edit-game-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.edit-game-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  border: 3px solid #daa520;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  margin: 0rem 2rem;
  width: 550px;
  max-width: 95%;
}

.edit-game-btn {
  margin: 2rem 0 0 0;
  width: 25%;
  align-self: center;
}

.edit-game-btn:hover {
  margin: 2rem 0 0 0;
  width: 25%;
  align-self: center;
  background-color: var(--heading);
  outline: 1px solid var(--buttons);
  color: var(--buttons);
}

.edit-games-btn {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 0 0;
}

.loading-game-btn {
  width: 25%;
  align-self: center;
  margin-top: 1rem;
}

/* .loading-game-btn {
  width: 25%;
  align-self: center;
  margin-top: 2rem;
} */
.ih-loading-game-btn {
  width: 25%;
  align-self: center;
  margin-top: 0.5rem;
}
.ih-loading-game-btn:hover {
  width: 25%;
  align-self: center;
  margin-top: 0.5rem;
  background-color: var(--heading);
  outline: 1px solid var(--buttons);
  color: var(--buttons);
}
.delete-ih-loading-game-btn {
  width: 25%;
  align-self: center;
  margin-top: 0.5rem;
}

.btn-title {
  display: flex;
}

.back-btn-1 {
  color: var(--heading);
  margin-right: 7.8rem;
  width: 60px;
  height: 35px;
}
.back-btn-1:hover {
  background-color: var(--heading);
  outline: 1px solid var(--buttons);
  color: var(--buttons);
  margin-right: 7.8rem;
  width: 60px;  
  height: 35px;
}

.ih-games {
  margin-top: 2rem;
}



.login-btn-wait {
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

.game-info-container{

  display: flex;
  justify-content: space-between;
}

hr{
  width: 100%;
  height: 3px;
  background-color: var(--buttons);
  opacity: 100%;
  border-radius: 5px;
  margin: 2rem 0 2rem 0;
}

.main-info{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.game-link{
  text-decoration: underline;
  color: var(--buttons);
  font-style: italic;
}
.game-link:hover{
  text-decoration: underline;
  color: #fff;
  font-style: italic;
  cursor: pointer;
}

.main-info2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 3rem;
  text-decoration: underline;
  color: var(--buttons);
  font-style: italic;
  margin: 2rem 0 0 0;
}

.play{
  font-size: 1.5rem;
  margin: 0 1rem 0 1rem;
}

.social{
  font-size: 1.2rem;
}

.homepage{
  width: 100vw;
  height: 100vh;
  background-image: url('../src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -4rem;
}


.add-game-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  border: 3px solid #daa520;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  margin: 0rem 2rem;
  width: 550px;
  max-width: 95%;
}

.fav-game{
  font-family: var(--main-font);
  letter-spacing: 3px;
}